@import "../../../libs/theme/index";

.page {
  .page__hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    // background-size: contain;
    background-position: center;
    object-fit: contain;
    position: relative;

    img {
      height: 100%;
      margin-top: 200px;
    }

    .page__hero__title__wrapper {
      max-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3;
    }
  }

  .page__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 100%;
    background-color: $blue;

    color: $light;
  }
}
