@import "../../../libs//theme/index";

.page {
  .page__hero {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    
  }

  .page__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 35px;
    width: 100%;
    background-color: $blue;

    color: $light;
  }
}
