.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  bottom: 100px;
  padding: 0 6rem;
  background-color: #fff;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 300px;
}

.logo {
  width: 200px;
  border: 1px solid;
  object-fit: contain;
}
