@import "libs/theme";

@page {
  size: A4;
  margin: spacing(2);
  background-color: green;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: spacing(2);
}

.resume__container {
  width: 210mm;
  max-width: 210mm;
  background-color: $light;
  min-height: 90vh;
  display: flex;
  @include shadow(2);
}

.resume__content {
  // padding: spacing(5);
  width: 100%;
}
