@import "libs/theme";

.content__wrapper {
  @include flexbox(row, center, center, 1, wrap);
  margin-bottom: spacing(16);
  .blog__card__content__wrapper {
    @include flexbox(row, flex-start, center, 9, wrap);
    padding-bottom: spacing(2);
    margin-bottom: spacing(10);
    .blog__card__wrapper {
      flex: 30%;
      .blog__card {
        width: 100%;
      }

      @include sm {
        flex: 100%;
      }
    }
  }
}
