@import "libs/theme";

.page {
  @include flexbox(row, center, center, 0, nowrap);
  width: 100%;
  height: 100vh;

  @include md {
    display: inline-block;
  }

  .hero {
    width: 60%;
    height: 100%;
    @include flexbox(row, center, center);
    background-image: url("/assets/image/Rectangle.png");
    object-fit: contain;

    @include md {
      max-height: 200px;
      width: 100%;
      background-image: url("/assets/image/Rectangle-vertical.png");
    }
  }

  .container {
    @include flexbox(column, center, center, 1);
    width: 100%;
    padding-top: spacing(15);

    form {
      width: 100%;
    }

    @include sm {
      padding: unset;
    }

    .wrapper {
      height: 100%;
      max-width: 500px;

      @include flexbox(column, center, center);
      gap: 20px;
      padding: spacing(2);

      @include md {
        width: 100%;
        padding: spacing(10);
      }

      .header {
        width: 100%;
        padding: spacing(2);

        h1 {
          @include typography(h1);
          line-height: 1;
          margin-bottom: 1rem;
        }
      }

      .form {
        width: 100%;

        .inputField {
          width: 100%;
          @include flexbox(column, center, flex-start);

          h2 {
            @include typography(h2);
            margin-bottom: 20px;
          }

          input {
            width: 100%;
            padding: spacing(4, 4);
            margin-bottom: 10px;
            border: 1px solid $blue;
            border-radius: 100px;
            @include typography(h9);
            color: $blue;

            &::placeholder {
              color: $blue;
            }
          }

          label {
            display: block;
            margin: spacing(4, 0);
            @include typography(h6);
          }
        }

        span {
          color: $blue;
        }

        .submitButton {
          width: 100%;
          padding: spacing(4, 8);
          margin-top: spacing(8);
          background-color: $blue;
          color: $light;
          border: none;
          border-radius: 100px;
          @include typography(h8);

          &:hover {
            background-color: $dark-blue;
          }
        }

        .forgot_password {
          margin-top: 8px;
          text-decoration: none;
          color: $blue;
          font-size: 14px;
        }

        .signup {
          width: 100%;
          @include flexbox(row, center, center);
          padding: spacing(4, 0);
          a {
            text-decoration: none;
            color: $blue;
            margin-left: spacing(1);
          }
        }
      }

      .social {
        width: 100%;
        @include flexbox(row, space-between, center, 5, nowrap);

        .social_item {
          @include flexbox(row, center, center, 0, nowrap);
          position: relative;
          height: 4rem;
          width: 8rem;
          border-radius: 247px;
          background: $light;

          cursor: pointer;
          background-color: $light;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.2s ease-in-out;

          &:hover {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}
