@import "libs/theme";

.container {
  display: flex;
  justify-content: center;

  padding: 7rem 2rem;
  gap: 10%;

  @include xl {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;

    padding-top: 50px;
  }

  .wrapperGrid {
    padding: 2rem;
    height: 100%;
    max-width: 560px;

    .items__title {
      @include typography(h1);
      margin-bottom: 2rem;
    }
  }
}
