@import "libs/theme";

.container {
  overflow: hidden;
  @include flexbox(row, center, 0, 10, nowrap);
  padding: spacing(8, 10);

  @include xl {
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
  }

  .wrapper {
    height: 100%;
    width: 30%;
    @include flexbox(row, center, flex-start);

    padding-top: 5rem;
    @include xl {
      width: 100%;
      padding-top: 0;
      img {
        object-fit: cover;
      }
    }
  }

  .wrapperGrid {
    padding: spacing(10, 0);
    height: 100%;
    max-width: 560px;
    margin-left: 5rem;

    @include xl {
      width: 100%;
      margin: unset;
    }
    .items__title {
      @include typography(h1);
      margin-bottom: 2rem;
    }
  }
}
