@import "libs/theme";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;

  .wrapper {
    width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: spacing(4);

    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: spacing(4);
      gap: spacing(2);

      button {
        width: 100%;
      }
    }
  }
}
